/* Vicente Megido García (UO294013) */

/* Selector Specificity: 001 */
section {   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Selector Specificity: 001 */
article {  
    text-wrap: wrap;
    padding: 1%;
    width: 15%;
    margin: 1%;
    background-color: #B60000;
    color: #ffffff;
    border: 0.2em solid #000000;
    border-radius: 0.8em;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.8);
}

/* Selector Specificity: 011 */
article:hover {  
    transform: scale(1.05);
}

/* Selector Specificity: 003 */
section article h3 {  
    padding: 5%;
    background-color: #000000;
    border: 0.2em solid #000000;
    border-radius: 0.8em;
    text-align: center;
    font-size: 1.4em;
}

/* Selector Specificity: 003 */
section article p {  
    font-size: 1.2em;
}

/* Selector Specificity: 003 */
section article img {
    display: block;
    margin: auto;
    background-color: #C6CDCD;
    border: 0.2em solid #000000;
}

/* Selector Specificity: 001 */
form {
    margin: 3%;
    padding: 1%;
    background-color: #B60000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Selector Specificity: 002 */
form h3 {
    text-align: center;
    margin-bottom: 1em;
}

/* Selector Specificity: 002 */
form label {
    margin: 0.5em 0;
    font-size: 1em;
    align-self: flex-start;
}

/* Selector Specificity: 002 / 002 */
form input, form textarea {
    margin: 0.5em 0;
    font-size: 1em;
    line-height: 2em;
    width: 100%;
    box-sizing: border-box;
}

/* Selector Specificity: 002 */
form textarea {
    margin: 0.5em 0;
    font-size: 1.3em;
    align-self: flex-start;
    resize: none;
}

/* Selector Specificity: 002 */
form button {
    margin-top: 1em;
    padding: 1.2em 1.5em;
    font-size: 1em;
    background-color: #ffffff;
    border: 0.2em solid #000000;
    border-radius: 1em;
    cursor: pointer;
    align-self: center;
}

/* Selector Specificity: 012 */
form button:hover {
    transform: scale(1.05);
    color: #B60000;
}
