/* Vicente Megido García (UO294013) */

/* Selector Specificity: 010 */
[data-game=memory-game] {
    padding: 0% 20% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #B60000;
}

/* Selector Specificity: 001 */
h2 {
    flex: 0 0 100%;
    font-size: 1.5em;
    text-align: center;
    color: #FFFFFF;
}

/* Selector Specificity: 012 */
main section[data-game="memory-game"] {
    display: flex;   
    flex-direction: unset;
}

/* Selector Specificity: 001 */
article {
    position: relative;
    width: 20%;
    height: 10vw;
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    background-color: #EBEBE0;
    border: 0.3em solid #000000;
    border-radius: 0.5em;
    box-shadow: 0 0.8em 1.0em rgba(0, 0, 0, 0.3);
}

/* Selector Specificity: 011 */
article:hover {
    transform: scale(1.04);
}

/* Selector Specificity: 011 */
article[data-state=flip], article[data-state=revealed] {
    transform: rotateY(180deg);
}

/* Selector Specificity: 002 / 002 */
article>h3, article>img {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
}

/* Selector Specificity: 002 */
article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Selector Specificity: 002 */
article>img {
    width: 80%;
    height: 80%;
    transform: rotateY(180deg);
}

/* Selector Specificity: 001 */
button {
    width: 30%;
}

/* Portatil L (1440px) */
@media screen and (max-width: 1440px) {

    /* Selector Specificity: 001 */
    article {
        border: 0.2em solid #000000;
        border-radius: 0.3em;
    }

    /* Selector Specificity: 002 */
    article>h3 {
        font-size: 0.9em;
    }
}

/* Portatil (1024px) */
@media screen and (max-width: 1024px) {

    /* Selector Specificity: 001 */
    article {
        border-radius: 0.2em;
    }

    /* Selector Specificity: 002 */
    article>h3 {
        font-size: 0.8em;
    }
}

/* Tablet (768px) */
@media screen and (max-width: 768px) {

        /* Selector Specificity: 010 */
    [data-game=memory-game] {
        padding: 0% 10% 2%;
    }
    
    /* Selector Specificity: 001 */
    article {
        border: 0.1em solid #000000;
    }

    /* Selector Specificity: 001 */
    menu {
        font-size: 0.8em;
    }

    /* Selector Specificity: 001 */
    section button {
        padding: 2%;
    }
}

/* Movil M (375px) */
@media screen and (max-width: 375px) {

    /* Selector Specificity: 001 */
    article {
        border-radius: 0.1em;
    }

    /* Selector Specificity: 002 */
    article>h3 {
        font-size: 0.6em;
    }
}
