/* Vicente Megido García (UO294013) */

/* Selector Specificity: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* Selector Specificity: 002 */
main h2 {
    grid-column: span 4;
    font-size: 1.4em;
    text-align: center;
}

/* Selector Specificity: 002 */
main div {
    width: 70%;
    height: 100%;
    background-color: #404040;
    border: 0.3em solid #000000;
    border-radius: 50%;
}

/* Selector Specificity: 022 */
main.load>div:nth-child(3) {
    animation: lightUp 0.5s forwards;
}

/* Selector Specificity: 022 */
main.load>div:nth-child(4) {
    animation: lightUp 0.5s forwards 0.5s;
}

/* Selector Specificity: 022 */
main.load>div:nth-child(5) {
    animation: lightUp 0.5s forwards 1s;
}

/* Selector Specificity: 022 */
main.load>div:nth-child(6) {
    animation: lightUp 0.5s forwards 1.5s;
}

/* Selector Specificity: 012 */
main.unload>div {
    animation: out;
}

/* Keyframe de encendido */
@keyframes lightUp {
    from { background-color: #404040; }
    to { background-color: #DD0000; }
}

/* Keyframe de apagado */
@keyframes out {
    from { background-color: #DD0000; }
    to { background-color: #404040; }
}

/* Selector Specificity: 002 */
main p {
    grid-column: span 4;
    font-size: 1.2em;
}

/* Selector Specificity: 001 */
button {
    grid-column: span 2;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 5% 10%;
    font-size: 1.2em;
    border: 0.2em solid #000000;
    border-radius: 1.2em;
    cursor: pointer;
}

/* Selector Specificity: 011 */
button:disabled {
    background-color: #606060;
    cursor: not-allowed;
}
